/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* NavBar */
.Sale-Bar {
    background: linear-gradient(90deg,#658C4A,#89BC68);
    padding: 16px 120px;
    text-align: center;
}

.Sale-Bar > h6 > p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
}

.nav {
    padding: 0 130px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 130px;
}

.search {
    width: 880px;
    padding: 15px 30px;
    border: 1px solid #CCCCCC;
    border-radius: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.logo {
    height: 48px;
}

.nav-btn {
    width: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.menu-bar {
    padding: 16px 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.menu-bar > h3 > a {
    color: #333;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.nav-hr {
    height: 2px;
    background-color: #658C4A;
    border: none;
}

/* HERO SECTION */
main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding: 0 0 0 180px; */
}

.left-hero-section {
    width: 720px;
    padding: 80px 40px 80px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.left-hero-section > h1 {
    font-size: 56px;
    font-family: 'Libre Baskerville', serif;
    color: #333;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-hero-section > p {
    color: #666;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.main-section-btn {
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: #658C4A;
    border: none;
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600px;
    line-height: 28px;
}

.right-hero-section > img {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-highlight {
    padding: 80px 100px;
    display: flex;
    gap: 24px;
}

.category-highlight>div>img,
.category-highlight>div>div>img {
    border-radius: 8px;
}

.medium-category-highlight {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.medium-category-highlight > .medium-top {
    display: flex;
    gap: 24px;
}

.clothing-btn {
    padding: 8px 16px;
    background: #333;
    border-radius: 40px;
    color: #fff;
    position: absolute;
    left: 120px;
    bottom: -435px;
    border: none;
    cursor: pointer;
}

.Home-Goods-btn {
    padding: 8px 16px;
    background: #333;
    border-radius: 40px;
    color: #fff;
    position: absolute;
    right: 280px;
    bottom: -435px;
    border: none;
    cursor: pointer;
}

/* MOST WANTED */
.most-wanted {
    padding: 80px 100px;
    background: #FFEFE5;
}

.most-wanted-headline>h1 {
    color: #333;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.most-wanted-headline>p {
    color: #666;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.most-wanted-products-section {
    display: flex;
    margin-top: 40px;
    gap: 24px;
}

.most-wanted-products>img {
    width: 312px;
    border-radius: 10px;
}

.most-wanted-products>h2 {
    margin-top: 10px;
    margin-bottom: 8px;
    color: #333;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.most-wanted-products>.color-para {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #658C4A;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.most-wanted-products>.plain-para {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #999;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-decoration: line-through;
}

/* NEW ARRIVAL */
.new-arrival {
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.new-arrival-heading-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-btns {
    display: flex;
    gap: 16px;
}

.navigation-btn1 {
    border-radius: 50%;
    background: #E6E6E6;
    padding: 8px;
    cursor: pointer;
}

.navigation-btn2 {
    border-radius: 50%;
    background: #E7CEC0;
    padding: 8px;
    cursor: pointer;
}

.new-arrival-heading>h1 {
    color: #333;
    font-family: 'Libre Baskerville', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new-arrival-heading>p {
    color: #666;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.new-arrival-products-section {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.new-arrival-products>h2 {
    margin-top: 10px;
    margin-bottom: 8px;
    color: #333;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.new-arrival-products>p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #658C4A;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.new-arrival-mainbtn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: none;
    background: #658C4A;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
    text-align: center;
}

.new-arrival-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* COMMITMENT SECTION */
.commitment-section {
    
}